@*
 * OpenRose - Requirements Management
 * Licensed under the Apache License, Version 2.0.
 * See the LICENSE file or visit https://github.com/OpenRose/OpenRose for more details.
*@

@using OpenRose.WebUI.Client.SharedModels
@using OpenRose.WebUI.Client.Services.BaselineItemzCollection
@using OpenRose.WebUI.Client.Services.BaselineItemzTrace;
@using OpenRose.WebUI.Client.SharedModels.ClientSideUIOnlyModel
@using OpenRose.WebUI.Components.EventServices
@using OpenRose.WebUI.Components.Pages.Common
@inject NavigationManager NavManager
@inject IDialogService DialogService
@inject BaselineTreeNodeItemzSelectionService BaselineItemzSelectionService

<MudPaper Class="pa-4 align-start d-flex" Style="width: auto" Outlined="false">
	<MudText Typo="Typo.h6" Align="Align.Left"> <MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowUp" /> Parent / From Baseline Traces </MudText>
</MudPaper>
<MudDataGrid Items="@AllParentBaselineTraceViewModels"
			 Filterable="true"
			 SortMode="@SortMode.None"
			 Groupable="false"
			 Striped="true"
			 FixedHeader="true"
			 HeaderClass="background-color: red;">
	<Columns>
		<PropertyColumn Property="x => x.Id" Title="Id" Filterable="false">
			<CellTemplate>
				<CopyableText TextToCopy="@context.Item.Id.ToString()" DisplayLength="8" />
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.isIncluded">
			<CellTemplate>
				@if (context.Item.isIncluded == true) // I don't know why true is actually false when it comes to MudIcon logic below.
				{
					<MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Medium"></MudIcon>
				}
				else
				{
					<MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Medium"></MudIcon>
				}
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.Name" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<PropertyColumn Property="x => x.TraceLabel" Title="Trace Label">
			<CellTemplate>
				@if (!string.IsNullOrWhiteSpace(context.Item.TraceLabel))
				{
					<MudChip Color="Color.Info">@context.Item.TraceLabel</MudChip>
				}
				else
				{
					<MudChip Color="Color.Default" Variant="Variant.Outlined">
						No Label
					</MudChip>
				}
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.Status" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<PropertyColumn Property="x => x.Priority" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<TemplateColumn Title="Action">
			<CellTemplate>
				<div style="display: flex; justify-content: left; align-items: center; gap: 10px;">
				<MudButton Size="@Size.Large"
						   Variant="@Variant.Filled" Color="@Color.Success"
						   OnClick="_ => openBaselineItemz(context.Item.Id.ToString())"> Open </MudButton>
				</div>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
</MudDataGrid>
<MudPaper Class="pa-4 align-start d-flex" Style="width: auto" Outlined="false">
	<MudText Typo="Typo.h6" Align="Align.Left"><MudIcon Icon="@Icons.Material.Filled.KeyboardDoubleArrowDown" />Child / To Traces </MudText>
</MudPaper>
<MudDataGrid Items="@AllChildBaselineTraceViewModels"
			 Filterable="true"
			 SortMode="@SortMode.None"
			 Groupable="false"
			 Striped="true"
			 FixedHeader="true"
			 HeaderClass="background-color: red;">
	<Columns>
		<PropertyColumn Property="x => x.Id" Title="Id" Filterable="false">
			<CellTemplate>
				<CopyableText TextToCopy="@context.Item.Id.ToString()" DisplayLength="8" />
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.isIncluded">
			<CellTemplate>
				@if (context.Item.isIncluded == true) // I don't know why true is actually false when it comes to MudIcon logic below.
				{
					<MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Success" Size="Size.Medium"></MudIcon>
				}
				else
				{
					<MudIcon Icon="@Icons.Material.Filled.Cancel" Color="Color.Error" Size="Size.Medium"></MudIcon>
				}
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.Name" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<PropertyColumn Property="x => x.TraceLabel" Title="Trace Label">
			<CellTemplate>
				@if (!string.IsNullOrWhiteSpace(context.Item.TraceLabel))
				{
					<MudChip Color="Color.Info">@context.Item.TraceLabel</MudChip>
				}
				else
				{
					<MudChip Color="Color.Default" Variant="Variant.Outlined">
						No Label
					</MudChip>
				}
			</CellTemplate>
		</PropertyColumn>
		<PropertyColumn Property="x => x.Status" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<PropertyColumn Property="x => x.Priority" Filterable="false" CellStyle="max-width: 100px; overflow-x: visible; white-space: normal; " />
		<TemplateColumn CellClass="d-flex justify-left">
			<CellTemplate>
				<MudButton Size="@Size.Large"
						   Variant="@Variant.Filled" Color="@Color.Success"
						   OnClick="_ => openBaselineItemz(context.Item.Id.ToString())"> Open </MudButton>
			</CellTemplate>
		</TemplateColumn>
	</Columns>
</MudDataGrid>

@code {
	[Parameter]
	public Guid BaselineItemzId { get; set; }

	[Inject]
	public IBaselineItemzTraceService baselineItemzTraceService { get; set; }
	// [Inject]
	// public IBaselineItemzService baselinesItemzService { get; set; }
	[Inject]
	public IBaselineItemzCollectionService baselineItemzCollectionService { get; set; }

	private BaselineItemzParentAndChildTraceDTO SingleBaselineItemzTraces { get; set; } = new BaselineItemzParentAndChildTraceDTO();
	// private ICollection<GetBaselineItemzDTO> AllParentBaselineItemzTraces { get; set; } = new List<GetBaselineItemzDTO>();
	// private ICollection<GetBaselineItemzDTO> AllChildBaselineItemzTraces { get; set; } = new List<GetBaselineItemzDTO>();
	private ICollection<BaselineTraceComponentViewModel> AllParentBaselineTraceViewModels { get; set; } = new List<BaselineTraceComponentViewModel>();
	private ICollection<BaselineTraceComponentViewModel> AllChildBaselineTraceViewModels { get; set; } = new List<BaselineTraceComponentViewModel>();

	protected override async Task OnInitializedAsync()
	{
		var singleBaselineItemzTraces = await baselineItemzTraceService.__GET_All_Parent_and_Child_Baseline_Itemz_Traces_By_BaselineItemzID__Async(BaselineItemzId);

		if (singleBaselineItemzTraces?.BaselineItemz != null)
		{
			// --- Parent Baseline Traces ---
			if (singleBaselineItemzTraces.BaselineItemz.ParentBaselineItemz != null && singleBaselineItemzTraces.BaselineItemz.ParentBaselineItemz.Any())
			{
				var parentIds = singleBaselineItemzTraces.BaselineItemz.ParentBaselineItemz.Select(p => p.BaselineItemzID).ToList();
				var parentItemzDtos = await baselineItemzCollectionService.__GET_BaselineItemz_Collection_By_GUID_IDS__Async(parentIds);

				AllParentBaselineTraceViewModels = parentItemzDtos.Select(dto =>
				{
					var traceInfo = singleBaselineItemzTraces.BaselineItemz.ParentBaselineItemz.FirstOrDefault(t => t.BaselineItemzID == dto.Id);
					return new BaselineTraceComponentViewModel
					{
						Id = dto.Id,
						Name = dto.Name,
						Status = dto.Status,
						Priority = dto.Priority,
						isIncluded = dto.isIncluded,
						TraceLabel = traceInfo?.TraceLabel
					};
				}).ToList();
			}

			// --- Child Baseline Traces ---
			if (singleBaselineItemzTraces.BaselineItemz.ChildBaselineItemz != null && singleBaselineItemzTraces.BaselineItemz.ChildBaselineItemz.Any())
			{
				var childIds = singleBaselineItemzTraces.BaselineItemz.ChildBaselineItemz.Select(c => c.BaselineItemzID).ToList();
				var childItemzDtos = await baselineItemzCollectionService.__GET_BaselineItemz_Collection_By_GUID_IDS__Async(childIds);

				AllChildBaselineTraceViewModels = childItemzDtos.Select(dto =>
				{
					var traceInfo = singleBaselineItemzTraces.BaselineItemz.ChildBaselineItemz.FirstOrDefault(t => t.BaselineItemzID == dto.Id);
					return new BaselineTraceComponentViewModel
					{
						Id = dto.Id,
						Name = dto.Name,
						Status = dto.Status,
						Priority = dto.Priority,
						isIncluded = dto.isIncluded,
						TraceLabel = traceInfo?.TraceLabel
					};
				}).ToList();
			}
		}

		StateHasChanged();
	}


	public async Task openBaselineItemz(string baselineItemzId)
	{
		BaselineItemzSelectionService.SelectBaselineTreeNodeItemz(Guid.Parse(baselineItemzId));
		BaselineItemzSelectionService.ScrollToTreeViewNode(Guid.Parse(baselineItemzId));
	}

}
